.about{
    /* display: flex; */
    /* flex-direction: column; */
    font-size: 2vw;
    align-items: stretch;
    color : white;
    height: 100%;
    background-color: #c5c5c5a2;  
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 10px;
    border-radius: 25px ;
}
.shape_outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 0;
    height: calc(150px + 4vw);
    width: calc(150px + 4vw);
    margin: 25px;
    background-image: linear-gradient(to bottom right, #ff3cac, #562b7c, #2b86c5);
}
.about p {
    width: 95%;
    margin: auto;
    padding-Top: 10px;
    text-align: justify;
}
.about a:hover {
    color: red;
  }